.App {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  margin-top: 0;

}

img{
  height: 30vh;
  width:auto;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.card{
  margin-left: 20vw;
  margin-right:20vw;
  background-color: darkblue;
  font-size: calc(10px + 2vmin);
  color: grey;
  border:solid black;
}

button{
  font-size: calc(5px+1vmin)
}
